body{
    width:100%;
    margin: 0;
}
/* Шапка */
header {
    width: 100%;
    height: 100px;
    background: #ffffff;
} 

/* Логотип */
.logo a {
    font-family: "Arial";
    font-weight: bold;
    padding: 50px;
    font-size: 30px;
}
.logo_deyat a {
    font-family: "Arial";
    padding: 50px;
    font-size: 20px;
}
#logo {
   float: left;
    margin-left: 100px;
    height: 60px;
    overflow: hidden;
    list-style: none;
    margin-top: 30px;

} 
/* Адрес,телефон,часы работы */
.header {
    float: right;
}
.header li .he-text span {
    display: block;
    font-weight: 300;
}
.header li {
    float: left;
    margin-left: 20px;
    margin-right: 100px;
    margin-top: 30px;
    height: 50px;
    overflow: hidden;
    list-style: none;
} 
.header li .he-text {
    float: left;
    padding-left: 10px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.43;
}
/* Линия между навигацией и шапкой */
.line {
	margin: 20px 0;
	padding: 0;
	height: 0;
	border: none;
	border-top: 1px solid rgba(250, 242, 242, 0.7);
} 

/* Навигационное меню */
nav {
    width: 100%;
    height: 30px;
    background: #ffffff;
}
nav a {
    font-weight: bold;
    margin-left: 130px;
    float: left; 
    display: block;
    color: rgb(66, 64, 64); 
    text-align: center; 
    text-decoration: none; 
}
nav a.right {
    margin-right: 50px;
    float: right; 
}
/* Слайдер картинка */
#slider {
    width: 100%;
    background:  url('../images/block11.jpg') left 50% top 50% no-repeat; 
    background-size: cover; 
    height:550px;
    padding: 0;
}

/* Карта */
.address {
    padding: 20px; 
    text-align: center; 
    background: rgb(236, 229, 229); 
}
.address h2{
    font-size: 3em;  
}
.address p{
    font-size: 1.5em;  
}
/* Подвал*/
.footer {
   
    padding: 20px; 
    text-align: center; 
    background: #ddd; 
}
/* Слайдер 2*/
#slider2 {
    width: 100%;
    background:  url('../images/block1.jpg') left 50% top 50% no-repeat; 
    background-size: cover; 
    height:550px;
    padding: 0;
    text-align: center !important; 
    padding-top:60px;
}
#slider2 p,h1{
color: white;
}
#slider2 h1{
    color: white;
    font-weight: bold;
    font-size: 2em;
}
#slider2 p{

    font-size: 1.5em;
}
.bottom{
    margin-bottom:100px;
}
/* Слайдер 3 - Услуги  */


.col_one  {

    width: 25%; 
    float: left;
    margin-left: 7%;
}
.col_two  {

    width: 25%; 
    float: right;
    margin-right: 4%;
    
}
.feature-box .fbox-media img {
    display: inline-block;
    width: 90%;
    height: auto;
}


 h2 { 
    text-align: center;
    font-size: 30px; 
}
.fbox{
    text-align: center;
    font-size: 20px; 
}

#slider3 {
    width: 100%;
    background: white; 
    background-size: cover; 
    height:450px;
    padding: 0;
}
/* Кнока вверх */
.back_to_top {
    position: fixed;
    bottom: 80px;
    right: 40px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 30px;
    background: #b895b8;
    color: #444;
    cursor: pointer;
    border-radius: 2px;
    display: none;
  }
  
  .back_to_top:hover {
    background: #8b7878;
  }
  
  .back_to_top-show {
    display: block;
  }
